<div>
  Todo
  <div *ngFor="let item of posts | async as list">
    {{item.id}} - {{item.title}} - <button (click)="deletePost(item.id)">DELETE</button>
  </div>
</div>
<div cdkDropListGroup>
  <div class="flex-container">
    <div class="example-container">
      <h2>User List</h2>
      <div *ngIf="userList" cdkDropList [cdkDropListData]="userList.results" class="drop-zone"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let user of userList.results" cdkDrag>
          <app-card [item]="user"></app-card>
        </div>
      </div>
      <div *ngIf="avalaibleList">
        <div class="example-box" *ngFor="let user of userList.results">
          {{user.name | json}}
        </div>
      </div>
    </div>
    <div class="example-container">
      <h2>Avalaible</h2>
      <div *ngIf="avalaibleList" cdkDropList [cdkDropListData]="avalaibleList.results" class="drop-zone"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let user of avalaibleList.results" cdkDrag>
          <app-card [item]="user"></app-card>
        </div>
      </div>
      <div *ngIf="avalaibleList">
        <div class="example-box" *ngFor="let user of avalaibleList.results">
          {{user.name | json}}
        </div>
      </div>
    </div>
  </div>

  <section class="sample-app-content">
    <h1>Model-based Form Example:</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <p>
        <label>First Name:</label>
        <input type="text" formControlName="firstName">
      </p>
      <p>
        <label>Password:</label>
        <input type="password" formControlName="password">
      </p>
      <p>
        <button type="submit" [disabled]="!form.valid">Submit</button>
      </p>
    </form>
  </section>

</div>